.test {
  border: 1 solid;
  padding: 10px;
  box-shadow: 5px 10px red;
  width: 500px;
}

.table {
  border-collapse: collapse;
}
.table,
th,
td {
  border: 1px solid black;
}

th,
td {
  min-width: 100px;
}
.discounted {
  color: red;
}
