<div class="test">
  <h2>Đây là trang home!</h2>
  <p>Chào bạn {{name}}</p>
  <br>
  <input type="text" [value]="name" [title]="'Day la: ' + name" [(ngModel)]="name" />
  <br>
  <input type="number" [value]="age" [(ngModel)]="age" />
  <!-- <h2 *ngIf="age > 0 && age > 30">Ban qua gia roi</h2>
  <h2 *ngIf="age > 0 && age <=30">Ban con tre lam</h2> -->

  <div *ngIf="age > 0 && age > 30; then gia; else tre"></div>
  <ng-template #tre>
    <h2>Bạn còn trẻ lắm</h2>
  </ng-template>

  <ng-template #gia>
    <h2>Bạn đã già rồi</h2>
  </ng-template>

  <button (click)="resetForm()">Reset</button>

  <h2>Trái cây</h2>
  <ul *ngFor="let fruit of fruits; let i = index">
    <li>{{ i+1 }} {{fruit}} </li>
  </ul>

  <br>

  <table class="table">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Price</th>
      <th>Discount</th>
    </tr>
    <tr *ngFor="let item of fruitsObj; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>
        <span [ngClass]='{"discounted":item.discount}'>{{item.price}}</span>
      </td>
      <td>
        <span *ngIf="item.discount">Đại hạ giá</span>
      </td>
    </tr>
  </table>
  <br>

  <table class="table">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Price</th>
      <th>Discount</th>
    </tr>
    <tr *ngFor="let item of fruitsObj; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>
        <span [ngClass]='{"discounted":item.discount}'>{{item.price}}</span>
      </td>
      <td>
        <span>{{item.discount | onSale | uppercase}}</span>
      </td>
    </tr>
  </table>

  <br>
  <label>Tỉnh / Thành phố: </label>
  <select (change)="changeProvince($event)">
    <option *ngFor="let data of dataVietnam;" value="{{data.province}}">
      {{data.province}}
    </option>
  </select>
  <br>
  <label>Quận / huyện: </label>
  <select>
    <option *ngFor="let district of districts;" value="">{{district}}</option>
  </select>

</div>
