<h2>Welcome to AngularV12</h2>
<nav>
  <ul>
    <li>
      <a routerLink='/home' routerLinkActive='active'>Home Page</a>
    </li>
    <li>
      <a routerLink='/about' routerLinkActive='active'>About Page</a>
    </li>
    <li>
      <a routerLink='/templateform' routerLinkActive='active'>Template Driven Form Page</a>
    </li>
    <li>
      <a routerLink='/reactiveform' routerLinkActive='active'>Reactive Driven Form Page</a>
    </li>
    <li>
      <a routerLink='/getdata' routerLinkActive='active'>Get data Page</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
