.border {
  border: 1 solid;
  padding: 10px;
  box-shadow: 5px 10px blue;
  width: 900px;
}

table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
  min-width: 100px;
}

.redColor {
  color: red;
}
